<div class="container">
  <% @articles.each do |article| %>
    <div class="article-index">
      <h3><%= article.title %></h3>
      <%= article.content %>
      <div class="article-info">
        <p><%= article.category %></p>
        <p><%= article.created_at %></p>
      </div>
    </div>
  <% end %>
</div>
