<div class="banner banner-pages">
  <%= image_tag "image.png"  %>
  <div class="banner-line">
    <h1>Aux villages, la République</h1>
  </div>
</div>


<p>
 Title: <%= @article.title %>
</p>
<p>
 Description: <%= @article.content %>
</p>


<%= link_to 'Back', articles_path %>
