<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nouveau commentaire de <%= @comment.user.username %> !</p>
    <p>
    Commentaire:<br>
    </p>
    <p><%= @comment.content %></p>
  </body>
</html>
