<div class="container">
  <div class="article-index">
    <h3>Administration</h3>
    <div class="admin-buttons">
      <ul>
        <li><button class="btn-back-white"><%= link_to "Nouvel article", new_article_path %></button></li>
        <li><button class="btn-back-white"><%= link_to "Nouvelle lecture", new_book_path %></button></li>
      </ul>
      <ul>
        <li><button class="btn-back-white"><%= link_to "Gérer les commentaires", comments_path %></button></li>
      </ul>
    </div>
  </div>
</div>
