<div class="container">
  <div class="article-index">
    <h3>Présentation</h3>
    <div class="pages-container">
      <p>Je suis enseignant dans le secondaire depuis 2007. J'ai exercé dans des établissements relevant de l'éducation prioritaire dans la banlieue nord de Paris tout en habitant Saint-Denis. J'ai ensuite été nommé professeur de lycée dans le centre de Marseille, où je vis désormais avec ma famille. Agrégé d'histoire-géographie, je me suis spécialisé sur l'histoire des requalifications des anciens territoires industriels. Militant politique (au Parti de Gauche et à la France Insoumise) et syndical (à la CGT), je n'ai pas la prétention d'être, ici, objectif, mais simplement d'argumenter.</p>
    </div>
  </div>
</div>
