<div class="container">
  <div class="article-index">
    <h3>Le projet</h3>
    <div class="pages-container">
      <p>Dans l'ère post-industrielle, les territoires urbains ont pris une dimension
        nouvelle. Les métropoles concentrent les hommes et les activités, mais les
        questions qu'elles soulèvent dépassent les étroites limites du cadre municipal :
        on estime en effet que 90% de la population française vit dans des aires urbaines,
        c'est-à-dire dans des espaces comportant une proportion relativement importante
        d'habitants quotidiennement concernés par les villes et leurs banlieues. Il me
        paraît ainsi important de reconsidérer les problèmes urbains et éducatifs à l'aune
         de cette nouvelle réalité. <br><br>

        A cet égard, la référence aux villages peut sembler curieuse, aussi mérite-t-elle
        une explication. C'est un modeste emprunt à Maurice Agulhon, historien du XIXe
        siècle dont la lecture m'a beaucoup marqué. Dans son ouvrage, La République au
        village (Plon, 1970), il explique comment les campagnes sont progressivement
        politisées sous la monarchie de Juillet et la deuxième République à travers une
        acculturation progressive. <br><br>

        Sans évidemment faire oeuvre d'historiographie (je ne suis pas universitaire),
        j'essaie simplement ici de tenir un blog politique qui se penche, entre autres
        considérations, sur les fractures territoriales et éducatives. L'allusion aux
        villages me paraissait ainsi intéressante à plus d'un titre : les villages font
        aujourd'hui souvent partie des logiques urbaines évoquées plus haut ; de nombreux
        espaces urbains pourtant banlieues ou même quartiers du centre ville sont encore
        vécus comme des villages par leurs habitants ; le village conserve une place à
        part, un peu idéelle, dans les représentations des Français ; Marseille, mais
        aussi Saint-Denis conservent une organisation à laquelle la notion de noyaux
        villageois n'est pas étrangère. <br><br>

        Les politiques publiques me semblent devoir tenir compte des nouvelles réalités
        villageoises de la République : le périurbain, le rural profond, les banlieues
        enclavés, les centre-villes paupérisés ou au contraire en proie à la
        muséification. J'ai ainsi choisi comme illustration la place Notre-Dame du Mont
        à Marseille à la fois noyau villageois et coeur de métropole. De cette foule de
        nouveaux villages il me semble ainsi important de faire République, et c'est ce
        que j'entends défendre ici.</p>
    </div>
  </div>
</div>
