.book-title {
  .trix-content {
    width: 800px;
    min-height: 150px;
  }
}

.book-description {
  .trix-content {
    width: 800px;
    min-height: 400px;
    text-align: justify;
  }
}

.book-index {
  text-align: center;
  .book-description-index {
    .trix-content {
      text-align: justify;
      figcaption {
        display: none;
      }
    }
  }
}
