.modal-body {


}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea[name=content]{
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}

.book-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.support-answer-textarea {
  width: 80%;
}
