<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de changement de mot de passe a été effectuée.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet e-mail.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliqué sur ce lien et effectué les changements.</p>
