<div class="footer">
  <p>Copyright © 2021
    <% if Time.now.year != 2021 %>
    - <%= Time.now.year %>
    <% end %>
    Aux villages la République - Tous droits réservés</p>
  <p><%= link_to "Mentions légales", mentions_path %></p>
  <% if user_signed_in? %>
  <% @user = current_user %>
    <p><%= link_to "Gestion de mon compte", edit_user_registration_path(@user) %></p>
  <% end %>
</div>
