<div class="navbar">
  <ul class="nav-left">
    <li><p>
      <% unless current_page?(root_path) %>
        <%= link_to "Accueil", root_path %>
      <% end %>
    </p></li>
  </ul>
  <ul class="nav-center">
    <div class="nav-li"><li class="li-1"><h2><a href="/categories/6">Politique</a></h2></li></div>
    <div class="nav-li"><li class="li-2"><h2><a href="/categories/7">Education</a></h2></li></div>
    <div class="nav-li"><li class="li-3"><h2><a href="/categories/8">Urbanités</a></h2></li></div>
  </ul>
  <ul class="nav-right">
    <li><p><%= link_to "Présentation", presentation_path %></p></li>
    <li><p><%= link_to "Le projet", projet_path %></p></li>
    <li><p><%= link_to "Lectures", books_path %></p></li>
  </ul>
</div>
